:root[tabsintitlebar]{
    --uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
    /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
    --uc-window-drag-space-pre: 30px; /* left side*/
    --uc-window-drag-space-post: 30px; /* right side*/
  }
  
  :root[tabsintitlebar][sizemode="maximized"] {
    --uc-window-drag-space-pre: 0px; /* Remove pre space */
  }
  
  @media  (-moz-platform: windows-win7),
          (-moz-platform: windows-win8),
          (-moz-os-version: windows-win7),
          (-moz-os-version: windows-win8){
    :root[tabsintitlebar] {
      --uc-window-control-width: 105px;
    }
  }
  
  @media (-moz-gtk-csd-available) {
    :root[tabsintitlebar] {
      --uc-window-control-width: 84px;
    }
  }
  
  /* macOS settings are further below */
  .titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
  :root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
  :root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }
  
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{
    position: absolute;
    display: flex;
    top: 0;
    right:0;
    height: 40px;
  }
  
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }
  
  #nav-bar{
    border-inline: var(--uc-window-drag-space-pre,0px) solid var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px));
  }
  
  /* Use this pref to check Mac OS where window controls are on left */
  /* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
  @supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
    :root{ --uc-window-control-width: 72px; }
    :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
      border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
    }
    :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
    :root[sizemode="fullscreen"] #window-controls{ right: unset }
  }

  :root{ --uc-toolbar-height: 32px; }
  :root:not([uidensity="compact"]){ --uc-toolbar-height: 34px }
  
  #TabsToolbar > *{ visibility: collapse !important }
  :root[sizemode="fullscreen"] #TabsToolbar > #window-controls{ visibility: visible !important; z-index: 2 }
  #TabsToolbar > .titlebar-buttonbox-container{
    visibility: visible !important;
    height:var(--uc-toolbar-height) !important;
  }
  
  #nav-bar{
    margin-top: calc(0px - var(--uc-toolbar-height));
  }
   :root[inFullscreen] #navigator-toolbox{ margin-top: 11px }
   
   #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] > #sidebar-header {
    visibility: collapse;  
}